In [6]:
import numpy as np
import pandas as pd

In [16]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [22]:
def foo(d):
    d['col1'][0] = 5
    print(df['col1'][0])
foo(df)

5

In [23]:
df

   col1  col2
0     5     3
1     2     4